@import url(/CSS/Normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

a {
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

/* HEADER */
header {
  margin: 0 50px 0px 50px;
}

/* NAV */
header nav {
  display: flex;
  justify-content: space-between;

  height: 10vh;
}

header nav div:nth-child(1) {
  width: 150px;
  align-self: center;
}

header nav div img {
  width: 150px;
}

header nav ul {
  display: flex;

  gap: 75px;
}

nav ul li {
  display: flex;
  align-items: center;

  font-size: 1rem;
  font-weight: lighter;

  /* Ajout d'un bordur blanche pour ne par faire bouger le texter avec le :hover */
  border-top: #ffff solid 3px;
}

/* Recherche text hebergement */

header div.texte {
  line-height: 2rem;
}

header div.texte div:nth-child(1) {
  font-size: 1rem;
}

header div.texte div:nth-child(1) p {
  font-weight: 600;
}

/* Recherche barre */

#recherche {
  display: flex;
  align-items: center;

  width: fit-content;
  height: 40px;
  margin-top: 10px;

  border: 1px #f2f2f2 solid;
  border-radius: 10px;

  overflow: hidden;
}

#recherche div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 40px;

  font-size: 1.25rem;

  background: #f2f2f2;
}

input[type="search"] {
  height: 40px;
  width: 200px;
  padding-left: 10px;

  border: none;
}

input[type="search"]:focus {
  outline: none;
}

#recherche div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 100px;

  font-size: 1rem;

  color: white;
  background-color: #0065fc;

  cursor: pointer;
}

.desktopNone {
  display: none;
}

::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 1000;

  color: black;
}

/* Filtres */

header div#filtre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin-top: 30px;

  font-size: 1rem;
}

/* p filtre */
header div#filtre p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

/* conteneur filtres */
header div#filtre div {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}

/* div filtre */
header div#filtre div div {
  display: flex;

  border: #f2f2f2 2px solid;
  border-radius: 30px;
}

/* icone filtre */
header div#filtre div div div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  background-color: #deebff;
  color: #0065fc;

  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

/* texte filtre */
header div#filtre div div p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  margin-right: 10px;
  margin-left: 10px;
}

/* info 500 logements */

div#info {
  display: flex;

  width: fit-content;
  margin-top: 30px;
}

div#info div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

div#info div i {
  font-size: 15px;

  color: #0065fc;
}

div#info p {
  align-self: center;
  margin-left: 10px;

  font-weight: 600;

  font-size: 1rem;
}

/* HOVER */

nav ul li:hover {
  border-top: #0065fc solid 3px;

  transition: 0.5s ease-in-out;
}

nav ul li a:hover {
  color: #0065fc;
}

div#filtre > div div:hover {
  cursor: pointer;
  flex-direction: row-reverse;
  transition: 1s ease;
  background-color: #deebff;
}

/*                               Fin header                                           */

/* Main Hebergement à marseille et activitées */

/* Hébergement à marseille */

main {
  margin: 30px 50px 20px 50px;
}

main >div:nth-child(1) {
  display: flex;
  flex-flow: row wrap-reverse;

  width: 100%;
  height: auto;

  gap: 50px;
}

/* hebergement et plus populaire */
main article {
  height: auto;

  padding: 30px 20px;

  background-color: #f2f2f2;
  border-radius: 20px;

  font-size: 0.75rem;
}

/* couleur etoiles */
article i {
  color: #0065fc;
}

/* article hebergement */
article#hebergements {
  flex: 3;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

  gap: 20px;
}

/* ligne de 3 carte */
article#hebergements > div {
  display: flex;
  justify-content: space-between;

  width: 100%;

  gap: 20px;
}

/* carte hebergement */
article#hebergements > div > div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  width: 30%;
  min-width: 200px;
  gap: 5px;

  background-color: white;
  border: 4px solid white;
  border-radius: 15px;

  box-shadow: 2px 2px 10px 8px rgb(236, 236, 236);

  cursor: pointer;
}

/* afficher plus */
article#hebergements > p {
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
}

article#hebergements > p:hover {
  color: #0065fc;
}

/* etoiles grise */
.gris {
  color: #f2f2f2;
}

/* Image hebergement à marseille */
.imgheb1 {
  background-image: url("/Assets/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-size: cover;
  background-position: 50% 70%;

  width: 100%;
  height: 120px;

  border-radius: 15px 15px 0 0;
}
.imgheb2 {
  background-image: url("/Assets/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-size: cover;
  background-position: 50% 70%;

  width: 100%;
  height: 120px;

  border-radius: 15px 15px 0 0;
}
.imgheb3 {
  background-image: url("/Assets/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover;
  background-position: 40% 60%;

  width: 100%;
  height: 120px;

  border-radius: 15px 15px 0 0;
}
.imgheb4 {
  background-image: url("/Assets/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-size: cover;
  background-position: 50% 70%;

  width: 100%;
  height: 120px;

  border-radius: 15px 15px 0 0;
}
.imgheb5 {
  background-image: url("/Assets/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-size: cover;
  background-position: 50% 70%;

  width: 100%;
  height: 120px;

  border-radius: 15px 15px 0 0;
}
.imgheb6 {
  background-image: url("/Assets/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-size: cover;
  background-position: 40% 60%;

  width: 100%;
  height: 120px;

  border-radius: 15px 15px 0 0;
}

/* Les plus populaires  */

article#populaires {
  flex: 1;
}

/* Espace entre le texte et l'icone */
#populaires > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

/* icone graph */
#populaires > div:nth-child(1) i {
  font-size: 1.5rem;
  color: black;
}

/* Galerie populaires */
#galeryPopulaires {
  display: flex;
  flex-direction: column;

  gap: 20px;

  margin-top: 20px;

  height: 100%;
}

/* Carte  */
#galeryPopulaires > div {
  display: flex;

  height: 120px;

  min-width: 300px;
  max-width: 800px;

  background-color: white;
  border: 4px solid white;
  border-radius: 15px;

  box-shadow: 2px 2px 8px 8px rgb(236, 236, 236);

  cursor: pointer;
}

/* div texte et etoile */
#galeryPopulaires > div > div {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  padding: 10px 0 10px 10px;
}

/* div texte */
#galeryPopulaires > div > div div:nth-child(1) {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

/* Images populaire */

.imgpop1 {
  background-image: url(/Assets/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-size: cover;
  background-position: center;

  min-width: 40%;
  height: 100%;

  border-radius: 15px 0 0 15px;
}
.imgpop2 {
  background-image: url(/Assets/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-size: cover;
  background-position: center;

  min-width: 40%;
  height: 100%;

  border-radius: 15px 0 0 15px;
}
.imgpop3 {
  background-image: url(/Assets/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-size: cover;
  background-position: center;

  min-width: 40%;
  height: 100%;

  border-radius: 15px 0 0 15px;
}

/* ----------------------------------------------------------- */

/* Activités à Marseille */

#activités {
  display: flex;
  flex-flow: column;

  height: 500px;
  padding: 0;
  margin-top: 50px;
  gap: 20px;

  background-color: white;

  font-size: 0.75rem;
}

/* galerie photo */
#galeryActivités {
  display: flex;

  gap: 20px;
  height: 100%;
}

/*div avant Carte */
#galeryActivités > div {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 50px;
}

/* carte */
#galeryActivités > div > div {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: white;
  border-radius: 15px;

  box-shadow: 2px 8px 8px rgb(236, 236, 236);

  cursor: pointer;
}

/* titre carte activités */
#galeryActivités h3 {
  margin: 20px;
}

/* 2/5 */
.flex1 {
  flex: 2;
}

/* 3/5 */
.flex2 {
  flex: 3;
}

/* images activités */
.imgactivités1 {
  background-image: url("/Assets/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: 20% 20%;

  width: 100%;
  height: 90%;

  border-radius: 15px 15px 0 0;
}
.imgactivités2 {
  background-image: url("/Assets/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 80%;

  border-radius: 15px 15px 0 0;
}
.imgactivités3 {
  background-image: url("/Assets/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 65%;

  border-radius: 15px 15px 0 0;
}
.imgactivités4 {
  background-image: url("/Assets/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: 20% 20%;

  width: 100%;
  height: 90%;

  border-radius: 15px 15px 0 0;
}
.imgactivités5 {
  background-image: url("/Assets/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 90%;

  border-radius: 15px 15px 0 0;
}
.imgactivités6 {
  background-image: url("/Assets/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 90%;

  border-radius: 15px 15px 0 0;
}

/* -------------------------------------- */
/* footer */

footer {
  display: flex;
  flex-flow: row wrap;
  gap: 22%;

  height: fit-content;

  margin-top: 100px;

  padding: 30px 50px;

  background-color: #f2f2f2;
}

footer ul {
  margin: 10px 0px;
}

footer li {
  line-height: 2rem;
  
}

footer a {
  font-weight: normal;
}

footer a:hover{
  color: #0065fc;
}
