@import url(/CSS/Normalize.css);
@import url(/CSS/styleGeneral.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

/* HEADER */
header {
    margin: 0 75px 0px 75px;
}

/* NAV */
nav {
    height: 10vh;
}

nav ul li {
    /* Ajout d'un bordur blanche pour ne par faire bouger le texter avec le :hover */ 
    border-top: #ffff solid 3px;  
}

/* Recherche */

#recherche{
    width: fit-content;
    height: 30px;

    border: 1px #F2F2F2 solid;
    border-radius: 10px;

    overflow: hidden;
}

#recherche div:nth-child(1) {
    width: 30px;
    height: 30px;
    

    background: #f2f2f2;
}

#recherche div:nth-child(3){
    height: 30px;
    width: 80px;

    

    color: white;
    
}

input {
    height: 25px;
    width: 150px;
    padding-left: 10px;

    border:none
}

::-webkit-input-placeholder {
    font-size: 10px;
    font-weight: 1000;

    color: black;
    
}

/* HOVER */

nav ul li:hover {
    border-top: #0065FC solid 3px ;
    
    transition: 0.5s ease-in-out ;
}

nav ul li a:hover {
    color: #0065FC;
}





