@import url(/CSS/Normalize.css);
@import url(/CSS/styleGeneral.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

/* HEADER */
header {
    margin: 0 75px 0px 75px;
}

/* NAV */
nav {
    height: 10vh;
    margin-bottom: 50px;
}

nav ul li {
    /* Ajout d'un bordur blanche pour ne par faire bouger le texter avec le :hover */ 
    border-top: #ffff solid 3px;  
}

/* HOVER */

nav ul li:hover {
    border-top: #0065FC solid 3px ;

    font-size: 1rem;
    
    transition: 0.5s ease-in-out ;
}

nav ul li a:hover {
    color: #0065FC;
}

header div.finder {
    line-height: 1.50rem;
}




