@media screen and (max-width: 768px) {
  header {
    margin: 0px 0px 0px 0px;
  }

  /* NAV booki hebergement activités  */

  header nav {
    flex-direction: column;
    justify-content: space-between;

    height: 100px;
    width: 100%;

    margin: 20px 0 20px 0;
  }

  /* div logo */
  header nav div:nth-child(1) {
    position: relative;
    right: -10px;

    width: fit-content;
  }

  /* logo */
  header nav div img {
    width: 110px;
  }

  /*list header hebergement et activités */
  header nav ul {
    gap: 0;

    width: 100%;
  }

  /* item header hebergement et activités */
  nav ul li {
    display: block;

    width: 50%;

    font-size: 1rem;
    font-weight: lighter;

    border-bottom: solid 3px #f2f2f2;
  }

  /* texte header hebergement et activités */
  nav ul li a {
    text-align: center;
    display: block;
  }

  nav ul li:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;

    transition: 0.5s ease-in-out;
  }

  /* Texte recherche header */
  header div.texte {
    padding: 0px 20px 0px 20px;
  }

  /* Barre de recherche  */
  #recherche {
    width: 80vw;
    height: 50px;

    margin-top: 20px;
  }

  /* position icone */
  #recherche div:nth-child(1) {
    min-width: 10%;
    height: 100%;
  }
  
  /* input */
  #recherche div:nth-child(2) {
    min-width: 75%;
  }

  input[type="search"] {
    width: 100%;
  }

  /* boutton rechercher */
  #recherche div:nth-child(3) {
    min-width: 15%;
    height: 100%;

    border-radius: 15px;
  }

  /* don't show */
  .mobileNone {
    display: none;
  }

  .desktopNone {
    display: inline;
  }

  /* Filtres */
  header div#filtre {
    flex-direction: column;
    align-items: flex-start;

    padding: 0 20px 0 20px;
  }

  header div#filtre div {
    flex-wrap: wrap;
  }

  /* Petit texte info */
  header div#info {
    align-items: flex-start;
    
    padding: 0 20px 0 20px;
    height: 50px;
    width: 100%;
  }

  /* icone info */
  header div#info div {
    min-width: 35px;
    min-height: 35px;
  }

  /* ----------------------------------------------------------------------- */
  /* Main */

  /*main Les plus populaire et hebergements */

  main {
    margin: 30px 0 0 0;

  }

  /* section hebergement et les plus populaires */
  main section:nth-child(1){
    flex-direction: column-reverse;
  }

  /* hebergement et les plus populaires */
  main article {
    border-radius: 0;

    font-size: 1rem;
  }

  /* ------------------------------------------ */

  /* les plus populaires */

    /* cartes populaire */
  #galeryPopulaires > div {
    width: 100%;
    height: 150px;
  }

  /* ----------------------------------------- */

  /* hebergement */

    /* article hebergement */
  article#hebergements {
    
    gap: 20px;

    background-color: white;
  }

    /* ligne de 3 cartes hebergements */
  article#hebergements > div {
    flex-direction: column;
  }

    /* carte */
  article#hebergements > div > div {
    width: 100%;
    height: 200px;
  }

  /* afficher plus */
  article#hebergements > p {
    margin-top: 20px;
    font-size: 1.25rem;
  }

/* -------------------------------------------------------- */
/* Activités à Marseille  */

  /* Article activités */
  article#activités {
    padding: 0px 20px;
  }
  /* Titre */
  article#activités h2 {
    font-size: 1.5rem;
  }
  /* galerie photo  */
  #galeryActivités {
    flex-direction: column;
    justify-content: space-between;

    padding: 30px 0px;
  }
  /* div avant carte */
  #galeryActivités > div {
    gap: 20px;
  }
  /* Carte */
  #galeryActivités > div>  div {
    min-height: 200px;
  }

  .flex1 {
    flex: 0;
  }
  .flex2{
    flex: 0;
  }
  .imgactivités2 {
    height: 90%;

  }
  .imgactivités3 {
    height: 90%
  }

}
